<!DOCTYPE html>
<html>
<head>
  <title>Reaching the horizon || Space Burial </title>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
       <script src="https://maps.googleapis.com/maps/api/js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body id="bigWrapper" data-spy="scroll" data-target=".navbar-default" data-offset="100">

<%= render 'shared/header' %>
<%= yield %>

</body>

	<%= yield :page_js %>

</html>
